*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: inline;
    padding: 10px;
    text-align: center;
    font-size: 75px;
    
}

h1{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #ff4488 ; 
   text-shadow: 2px 2px 2px rgba(252, 162, 28, 0.9);
}

p{
    font-size: 15vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px rgba(70, 11, 11, 0.5);
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 19px;
    text-decoration: none;
    margin: 0 5px;
    font-size: 30px;
}

button:hover{
background-color: aqua;
color: black;
transition: 1s ;
}

#resetear{
    background-color: #dc3545;
}

#resetear:hover{
    background-color: black;
    color: #ccc;
;
}




